<!-- jQuery DOM modifications -->
<script>
$(document).ready(function(){
  // make black menu full width
  var nav = $("#navigation");
  nav.insertAfter("#header")
  nav.wrap("<div class='container'></div>" );
  nav.parent().wrap("<header id='menu-header'></header>");

  // remove reviews
  $(".latest-contribution-wrapper").parent().parent().parent().remove();

  // move a box with basic categories up
  // $(".welcome-wrapper").insertAfter(".before-carousel");
  // $(".before-carousel").removeClass("homepage-box");
});
</script>

<!-- Google Translate -->
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'cs', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, gaTrack: true, gaId: 'UA-42637976-1'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- /Google Translate -->

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//cdn.zopim.com/?1oBLvIFU4MkOtLA1JYM6Y5Rd2elzuRgS';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
<script>
