<style type="text/css">

.box-categories, .slider-wrapper, #footer .site-name {
  display: none;
}

/* red top panel and black menu */

#header {
  background-color: #e71c36;
}

.header-top {
  background-color: #e71c36;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.site-name {
  margin: 0;
}

/* menu */

.navigation-in {
  background-color: #333;
}

.navigation-in > ul > li {
  border: 0;
  padding-top: 0;
  line-height: 18px;
}

#menu-header {
  background: #333;
}

/* search box */

.header-top .search .query-input {
  background-color: #e71c36;
  color: white;
  border-color: white;
  border-radius: 0;
}

.header-top .search ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}
.header-top .search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
}
.header-top .search ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
}
.header-top .search :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}
.header-top .search ::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.header-top .search button[type=submit] {
  background: white;
  color: #e71c36;
  border-color: white;
}

/* cart - white on red background, except for mobile */

@media (min-width: 768px) {
  .header-top .icon-cart, .header-top .icon-cart span {
    color: white;
  }

  .header-top .icon-cart i {
    background: white;
    color: #e71c36;
  }
}

/* parametric filter - images */

.advanced-parameter-inner {
  border: 0;
  box-shadow: none;
  line-height: 0;
}

/* product grid - fix: 4-columns in home page */

body.in-index .products.products-block>div {
    width: 25%;
}

@media (min-width: 1200px) {
    body.in-index .products.products-block>div:nth-child(3n) {
        border-right-style: solid;
    }
    body.in-index .products.products-block>div:nth-child(4n) {
        border-right-style: none;
    }
    body.in-index .products.products-block>div:nth-child(4) {
        border-top-style: none;
    }
}

/* footer */

.custom-footer {
  padding-left: 0;
}

/* theme fixes */

/* fix: white text on white background */
.pagination > strong {
  color: inherit;
}

</style>
