<link rel="apple-touch-icon" sizes="120x120" href="/user/documents/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/user/documents/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/user/documents/favicon-16x16.png">
<link rel="manifest" href="/user/documents/site.webmanifest">
<link rel="mask-icon" href="/user/documents/safari-pinned-tab.svg" color="#ff0000">
<link rel="shortcut icon" href="/user/documents/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/user/documents/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<meta name="google-site-verification" content="t392lM__r2DHvXuugGo8AJE4LftLUvpZ4IQpXoEtpvs" />

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bzamecnik/svet3dtisku-eshop/templates/classic/styles.css" />
<style>
.site-msg {
  font-size: 120%;
}
/* make google translate bar visible */
.cookie-ag-wrap {
    bottom: 35px;
}
/* make the google translate bar sticky to the bottom of the viewport */
#google_translate_element {
    position: fixed;
    bottom: 0;
    background: white;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
  opacity: 0.8;
}
.goog-te-gadget {
    margin-left: 15%;
}
#footer {
  margin-bottom: 70px;
}
body.ordering-process {
    padding-bottom: 80px;
}
/* related to moving the welcome banner below carousel */
.homepage-box.welcome-wrapper {
  display: none;
}
.welcome-wrapper {
  margin: 40px 0;
}
/* cart - gift selector */
.free-gift .btn {
    flex: 0 0 115px;
    padding: 5px 5px;
}
</style>
